{% extends 'profile/profile_base.html' %}
{% load static from staticfiles %}

{% block head_title %}Grant Requests - {{ block.super }}{% endblock %}

{% block profile_content %}
<h2>Grant Requests</h2>

<table class="table">
    <thead>
        <td>Grant Type</td>
        <td>Date Submitted</td>
        <td>Status</td>
    </thead>
    <tbody>
        {% for grequest in grantrequest_list %}
        <tr>
            <td>{{ grequest.gtype }}</td>
            <td>{{ grequest.created_at|date:"d-M-Y" }}</td>
            <td>{{ grequest.get_status_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock profile_content %}
