{% extends 'profile/profile_base.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block head_title %}Profile - {{ block.super }}{% endblock %}

{% block endhead %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap-markdown.min.css' %}">
{% endblock endhead %}

{% block profile_content %}
    <div class="form-container space-2-bottom">
        <h3 class="fill-blue white pad-line push-1q legible-prose">Edit Profile</h3>
        <div class="pad-2 push-half-top push-2-bottom">
    
        
            <form action="." method="post" class="">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Save Changes
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock profile_content %}

{% block footerscripts %}
    {{ block.super }}
    <script src="{% static 'js/markdown.js' %}"></script>
    <script src="{% static 'js/bootstrap-markdown.js' %}"></script>
    <script>
        $("#id_about").markdown({
            autofocus:false,
            savable:false,
            resize: 'vertical'
        });
    </script>
{% endblock footerscripts %}
