{% extends 'profile/profile_base.html' %}
{% load static from staticfiles %}

{% block head_title %}Membership Details - {{ block.super }}{% endblock %}

{% block notifications %}{% endblock %}

{% block profile_content %}
    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}


            <h3>Membership Status:
            {% if user_profile.is_pssi_member %}
                <span class="green">Member</span>
            {% else %}
                <span class="red">Not a Member</span>
            {% endif %}
            </h3>
        </div>
        <div class="col-sm-12">
            {% if not user_profile.is_pssi_member and user_profile.membershipapplication.status == 'a' %}
                <div class="fill-white card text-center">
                    <p class="legible-prose fill-yellow push-half pad-1">Your application has been approved</p>
                    <p class="pad-1 push-1q-bottom push-half-top">
                        <div>
                            Make the payment of <strong>Rs 500</strong> to become a member for 2 years. <br><br>
                            Please read the <a href="https://docs.google.com/document/d/11OP79kIDNfx9dMpbMztExp4W6amG0ZTZ0UNdGO54fPc/edit" target="_blank">By-laws of PSSI</a> before making any payment and applying for membership. <br><br>

                            Things to remember before making the payment -

                            <ul>
                                <li>Use the same email address while paying which you have registered with us</li>
                            </ul>
                        </div>
                        <a href="{{ payment_url }}?data_name={{ user.get_full_name }}&data_email={{ user.email }}&data_readonly=data_email" rel="im-checkout" data-behavior="link" data-style="flat" data-text="Pay with Instamojo" data-token="4ede82e81e6ab17223946f0f4d032cfa"></a>
                    </p>
                    <script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>
                </div>
            {% endif %}
        </div>
    </div>
    {% if user_profile.membershipapplication %}
    <hr>
    <h3 class="legible">Membership Application status: {{ user_profile.membershipapplication.get_status_display }}</h3>
    {% endif %}
    <hr>
    <h3 class="legible">Membership History</h3>
    <table class="table fill-white card">
        <thead>
            <td>From</td>
            <td>To</td>
            <td>Payment Method</td>
            <td>Amount</td>
        </thead>
        <tbody>
            {% if membership_history %}
                {% for mship in membership_history %}
                <tr>
                    <td>{{ mship.from_date|date:"d-M-Y" }}</td>
                    <td>{{ mship.to_date|date:"d-M-Y" }}</td>
                    <td>{{ mship.get_payment_method_display }}</td>
                    <td>{% if mship.payment %}{{ mship.payment.amount }}{% endif %}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="5" class="text-center gray"><em>No membership history</em></td></tr>
            {% endif %}
        </tbody>
    </table>
    <hr>
    <h3 class="legible">Payment History</h3>
    <table class="table fill-white card">
        <thead>
            <td>Payment Gateway</td>
            <td>Date</td>
            <td>Amount</td>
            <td>Status(Payment Gateway)</td>
            <td>Status(PSSI)</td>
        </thead>
        <tbody>
            {% if payment_history %}
                {% for payment in payment_history %}
                <tr>
                    <td>{{ payment.gateway }}</td>
                    <td>{{ payment.created_at|date:"d-M-Y" }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.status_pg }}</td>
                    <td>{{ payment.get_status_display }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="5" class="text-center gray"><em>No payment history</em></td></tr>
            {% endif %}
        </tbody>
    </table>
{% endblock profile_content %}
