{% extends 'base.html' %}

{% block content %}
<section class="push-4-bottom">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-sidebar fill-blue sidebar">
                <li><a href="{% url 'profile_home' %}">Profile</a></li>
                <li><a href="{% url 'profile_grantreq_list' %}">Grant Requests</a></li>
                <li><a href="{% url 'profile_membership' %}">Membership</a></li>
            </ul>
        </div>
        <div class="col-sm-9 push-1-top">
            {% block notifications %}
                {% if not user_profile.is_pssi_member %}
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">You're not a PSSI member!</h3>
                        </div>
                        <div class="panel-body">
                            Please make the <a href="{% url 'profile_membership' %}">payment</a> and become member for 2 years.
                        </div>
                    </div>
                {% endif %}
            {% endblock %}

            {% block profile_content %}
            {% endblock profile_content %}
        </div>
    </div>
</section>
{% endblock content %}

{% block footerscripts %}
    <script type="text/javascript">
        $('a[href="{{ request.path }}"]').parent("li").addClass('active');
    </script>
{% endblock footerscripts %}
