{% extends 'base.html' %}

{% block content %}
<section class="push-4-bottom">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-sidebar fill-blue sidebar">
                <li><a href="{% url 'profile_home' %}">Profile</a></li>
                <li><a href="{% url 'profile_grantreq_list' %}">Grant Requests</a></li>
                <li><a href="{% url 'profile_membership' %}">Membership</a></li>
            </ul>
        </div>
        <div class="col-sm-9 push-1-top">
            {% block notifications %}
                {% if not user_profile.is_pssi_member %}
                    {% if not user_profile.membershipapplication %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">You're not a PSSI member!</h3>
                            </div>
                            <div class="panel-body">
                                Please fill up *all* the details on the <a href="{% url 'profile_home' %}">profile page</a> and apply to be a member. We need to know a little bit about you. Incomplete profiles may not be accepted. <br>
                                Please read the <a href="https://docs.google.com/document/d/11OP79kIDNfx9dMpbMztExp4W6amG0ZTZ0UNdGO54fPc/edit" target="_blank">By-laws of PSSI</a> before making any payment and applying for membership.
                            </div>
                            <div class="panel-body">
                                <form action="{% url 'profile_membership_apply' %}" method="post">{% csrf_token %} <input class="btn btn-primary" type="submit" value="Apply to be a Member"> </form>
                            </div>
                        </div>
                    {% else %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">You've applied to be a PSSI member!</h3>
                            </div>
                            <div class="panel-body">
                                Please check the <a href="{% url 'profile_membership' %}">membership</a> page for more details.
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endblock %}

            {% block profile_content %}
            {% endblock profile_content %}
        </div>
    </div>
</section>
{% endblock content %}

{% block footerscripts %}
    <script type="text/javascript">
        $('a[href="{{ request.path }}"]').parent("li").addClass('active');
    </script>
{% endblock footerscripts %}
