*.py[cod]
*.sw*
*~

# Mac related
.DS_Store
.Trashes

#secret key
secret.txt

#local settings
local_settings.py
local_test_settings.py

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__
cache
output

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# vagrant
.vagrant

collected-static
media

misc.sql
