{% extends 'base.html' %}
{% load bootstrap3 %}
{% load django_markdown %}
{% load markdown_tags %}
{% load static from staticfiles %}
{% block head_title %}Apply for Local Conf Grant{% endblock %}

{% block endhead %}
<style>
 .required > label:after {
   content: "*";
 }
</style>
{{ form.media }}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
    <div class="form-container space-2-bottom">
      <h2 class="fill-blue text-center">Apply for Local Conf Grant</h2>
      <div class="pad-2 push-half-top push-2-bottom">

        <a href="{% url 'miniconf' %}">The complete details about the local conference information is available in the site.
          Please read the details before submitting the form</a>
        <hr>
        <form class="apply_grants form-container" method="POST" action=".">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
          {% endbuttons %}
        </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}
