{% extends 'base.html' %}

{% block head_title %}PyCon India - {{ block.super }}{% endblock %}

{% block header %}
<header class="header-big fill-blue center-wrapper text-center">
    <div class="absolute-center push-2">
        <div class="measure-block">
            <h1 class="yellow push-1q-bottom nospace-top">About</h1>
            <h2 class="white normal push-1q-bottom">A non-profit organization that manages annual <a class="white" href="http://in.pycon.org/" target="_blank">PyCon India</a> conference and organizes activities to promote Python programming language in India.</h2>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<section class="content">
    <div class="push-4-bottom">
        <h3 class="push-1-top">Introduction</h3>
        <p>The name <strong>PSSI</strong> stands for the organization <strong>Python Software Society of India</strong>. It is a non-profit organization that manages annual <strong>PyCon India</strong> conference and also other activities to promote Python programming language in India.</p>
        <h3 class="push-1-top">History &amp; Background</h3>
        <p>PyCon India started in 2009 as a result of efforts by Noufal Ibrahim and a team of dedicated volunteers. In order to create an umbrella society for managing funds for PyCon India, the late Kenneth Gonsalves registered <strong>Indian Python Software Society (IPSS)</strong> in 2010 in Ooty, Tamilnadu. After the sad demise of Kenneth in August 2012, there was nobody to manage the affairs of <strong>IPSS</strong> in Ooty.
        In order to create an organization which could continue to be the centre of organizing affairs of PyCon India and related efforts, it was decided in an SGM of IPSS to register a new organization for the same in Bangalore, since most of the organizing members of PyCon India were based in Bangalore at that time. Thus, PSSI was registered in Bangalore in 2013 as the new society for managing affairs related to PyCon India.</p>

        <h3 class="push-1-top">PSSI and PSF (<a target="_blank" href="https://www.python.org/psf-landing/">Python Software Foundation</a>)</h3>
        <p>PSSI is not directly connected to PSF in any organizational or hierarchical manner. However PSSI can be thought of as a counterpart of PSF globally in an Indian context. What PSF aims to do in terms of providing a direction and being the single organisational body for the Python programming language globally (and with a specific focus in the U.S.A), PSSI aims to do with a focus on India.</p>
        <p>However it is to be noted that PSF has more at stake in the Python programming language than PSSI. For example, the Intellectual Property, Copyright and Trademarks of Python Programming language are vested in the PSF. PSSI has no such rights on Python. The primary focus of PSSI as of today is the organization and conduct of PyCon India conference and associated events annually.</p>
        <p>It is also worth mentioning that PSSI has received funds from PSF for conducting PyCon India in the past and might receive such funds in the future as well. However PSF has no say in the governance and conduct of the board members of PSSI.</p>

        <h3 class="push-1-top">PSSI Board</h3>
        <p>The board positions of PSSI to which annual elections are held every year include,</p>
        <ol>
            <li>President.</li>
            <li>Vice-President.</li>
            <li>Secretary.</li>
            <li>Treasurer.</li>
            <li>Joint-Secretary</li>
        </ol>

        <h3 class="push-1-top">Annual General Meeting</h3>
        <p>The AGM (Annual General Meeting) of PSSI is held every year on the last day of PyCon India conference in the same venue. The last AGM was held on Sep 28, 2014 at NIMHANS Convention Centre, Bangalore.</p>
    </div>
</section>
{% endblock %}
