{% extends 'base.html' %}

{% block head_title %}Awards - {{ block.super }}{% endblock %}

{% block header %}
<header class="header-big fill-blue center-wrapper text-center">
    <div class="absolute-center push-2">
        <div class="measure-block">
            <h1 class="yellow push-1q-bottom nospace-top">Awards</h1>
            <h2 class="white normal push-1q-bottom">Awards presented by PSSI</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="content">
	<div class="push-4-bottom push-1-top">
        <h2>Kenneth Gonsalves Award</h2>
        <p>This award is instituted by PSSI and PSF in the name of our late friend and mentor, Kenneth Gonsalves who passed away in August 2012. KG, as he is fondly known in the community, was the founder of the Indian Python Software Society. This award is for the ones who are doing exemplary work in Python programming language, its development/adoption/advocacy in India.</p>
        <p>Each year nomination of this award is opened about a month before PyCon India and it's presented on the first day of the event.
            <ul>
                <li>In 2013, this award was presented to <a href="http://in.pycon.org/blog/baijum-first-kenneth-gonsalves-award-recipient" target="_blank">Baiju Muthukadan</a>.</li>
                <li>In 2014, this award was presented to <a href="http://in.pycon.org/2014/blog/prabhu-ramachandran-is-winner-of-kenneth-gonsalves-award-2014/" target="_blank">Prabhu Ramachandran</a>.</li>
                <li>In 2015, this award was presented to <a href="https://in.pycon.org/blog/2015/kg-award-winner.html" target="_blank">Vijay Kumar</a>.</li>
            </ul>
        </p>
	</div><!-- /.entry-content -->
</section>
{% endblock %}
