{% extends 'base.html' %}

{% block content %}
<section class="content">
	<div class="entry-content push-4-bottom">
		<h1>Awards presented by PSSI</h1>
		<hr>
		<p>
      <h2>Kenneth Gonsalves Award</h2>
      <p>
        This award is instituted by PSSI and PSF in the name of our late friend and mentor, Kenneth Gonsalves who passed away in August 2012. KG, as he is fondly known in the community, was the founder of the Indian Python Software Society. This award is for the ones who are doing exemplary work in Python programming language, its development/adoption/advocacy in India. <br><br>
        Each year nomination of this award is opened about a month before PyCon India and it's presented on the first day of the event.

        <ul>
          <li>In 2013, this award was presented to <a href="http://in.pycon.org/blog/baijum-first-kenneth-gonsalves-award-recipient" target="_blank">Baiju Muthukadan</a>.</li>
          <li>In 2014, this award was presented to <a href="http://in.pycon.org/2014/blog/prabhu-ramachandran-is-winner-of-kenneth-gonsalves-award-2014/" target="_blank">Prabhu Ramachandran</a>.</li>
        </ul>
      </p>
    </p>
	</div><!-- /.entry-content -->
</section>
{% endblock %}
