{% extends 'base.html' %}

{% block head_title %}By laws - {{ block.super }}{% endblock %}

{% block header %}
<header class="header-big fill-blue center-wrapper text-center">
    <div class="absolute-center push-2">
        <div class="measure-block">
            <h1 class="yellow push-1q-bottom nospace-top">By laws</h1>
            <h2 class="white normal push-1q-bottom">India's premier conference on Python programming language</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="content">
    <div class="entry-content push-4-bottom push-2-top">
        <h2>Article 1</h2>
        <h3>Definitions</h3>
        <p>The Society shall frame Bye-Laws for its smooth functioning. In these Bye Laws, unless there is anything in the context repugnant thereto or inconsistent therewith:</p>
        <ol type="a">
            <li><strong>PSSI</strong> means Python Software Society of India.</li>
            <li><strong>Member</strong> means a member of the PSSI Society.</li>
            <li><strong>General Body</strong> shall consist of all the members of PSSI, who have voting rights.</li>
            <li><strong>General Council</strong> means the council duly elected by the General Body of the society.</li>
            <li><strong>President</strong> means a member who is duly elected by the General Body.</li>
            <li><strong>Register of Membership</strong> means a register maintained by the Secretary containing the names of all members of the society.</li>
            <li><strong>Act</strong> means Karnataka Societies Registration Act 1960 ((K.S.R. Act)) or any statutory modification or re­enactment for the time being in force.</li>
        </ol>
        <h3>Members</h3>
        <h4>Section A</h4>
        <ul>
            <li>
            <h5><strong>Founder Members</strong></h5>
                <p>Those who subscribe to the Memorandum of Association of the society at the time of its formation shall be known as Founder Members.</p>
            </li>
            <li>
            <h5><strong>Life Members</strong></h5>
                <p>Those who are eligible to admission under Section C and who pay the annual membership fees of Rs. 500/- (Rupees Five Hundred Only) shall be known as Life Members.</p>
            </li>
            <li>
                <h5><strong>Associate Members</strong></h5>
                <p>Associate Members are institutions that support the PSSI financially and by other means as authorised by PSSI. Associated Members will not have voting rights. They have the Pay an annual fees of Rs.20,000/- (Rs. Twenty thousand only) annually.</p>
            </li>
            <li>
                <h5><strong>Honorary Members</strong></h5>
                <p>The General Council may, at its discretion, offer Honorary Membership on Honorary Basis and to those who contribute in any respect to the Society's objectives.</p>
            </li>
        </ul>
        <h4>Section B</h4>
        <h5><strong>Admission and qualification for Life Membership and Associate Membership</strong></h5>
        <ol type="i">
            <li>
                <p>Any individual of Indian origin or of any other nationality will be eligible to
                become a Life Member of the society having paid requisite membership fees
                subject to the approval of the General Council.</p>
                <p>Any Company (incorporated in India or abroad), firm or any other organisation,
                and Societies/ trusts will be eligible to become a Associate Member of the
                society having paid requisite membership fees subject to the approval of the
                General Council.</p>
            </li>
            <li>
                <p>Potential Life member’s application should be signed by at least three founder members.</p>
            </li>
            <li>
                <p>Potential Associate member’s application should be signed by at least three founder members.</p>
            </li>
            <li>
                <p>If the applicant is an individual, his/her age should be more than 18 years.</p>
            </li>
        </ol>
        <p>The General Council may refuse to grant life membership and/ or Associate
        membership and the decision of the General Council in this behalf shall be final.</p>
        <h4>Section D</h4>
        <h5><strong>Membership and Annual Fees</strong></h5>
        <ul>
            <li>
            <p><strong>Founder Members</strong> and <strong>Life Members</strong> have to pay an  fees of Rs.500/-­(Rupees Five hundred only) every two years</p>
            </li>
            <li>
            <p><strong>Associate Members</strong> have to pay an annual fees of Rs.20,000/-­(Rs. Twenty thousand only).</p>
            </li>
        </ul>
        <p>If any Associate member makes default in paying the said annual fees, the
        member’s name shall be removed from the register of membership and shall be
        cease to be a member, provided that a written notice of 30 days shall be given to
        the member by the President before removing the name of from the Register.</p>
        <h4>Section E</h4>
        <h5><strong>Cancellation of membership</strong></h5>
        <p>Membership of the Society shall be terminated on the following grounds</p>
        <ol type="i">
            <li>In the case of resignation.</li>
            <li>On demise.</li>
            <li>On conviction for a criminal offence involving moral turpitude or his/her incapacity to act as such for any reason whatsoever.</li>
            <li>His/her conduct being found, after due enquiry, harmful to the Society and or
            against its aims and objectives, provided that a written notice will be given to the
            member and an opportunity afforded for being heard by the Governing Council
            before such termination.</li>
            <li>Those Life Members who do not pay their annual fees will  loose their membership and will have to reapply.</li>
        </ol>
        <h4>Section G</h4>
        <h5><strong>Rights/Privileges and Duties of Members</strong></h5>
        <ul>
            <li>
                <strong>Founder Member and Life Member</strong>
                <ol type="a">
                    <li>Can vote in election to Governing Council.</li>
                    <li>Can serve on Governing Council</li>
                    <li>Must attend at least every second meeting of the society</li>
                </ol>
            </li>
            <li>
                <strong>Associate Member</strong>
                <ol type="a">
                    <li>Cannot vote in election to Governing Council.</li>
                    <li>Cannot serve on Governing Council.</li>
                </ol>
            </li>
            <li>
                <strong>Honorary Member:</strong>
                <ol type="a">
                    <li>They may not pay admission or annual fees.</li>
                    <li>Cannot vote in election to Governing Council.</li>
                </ol>
            </li>
        </ul>
        <h2>Article II</h2>
        <h4>Section A</h4>
        <ol type="a">
            <li>All the members having voting right shall constitute the General Body.</li>
            <li>General Body shall have the supreme power to enact, amend or repeal the
            byelaws of the society on the recommendation of the Governing Council.</li>
            <li>This Byelaw shall be amended only in the General Body meeting by 2/3rd
            majority of the present members.</li>
            <li>The General Body shall elect all the members of the General Council.</li>
            <li>It shall have the power to approve or reject any proposal / recommendation
            forwarded by the General Council or any other committee being formed for any
            particular purpose with 2/3rd of the members present for the meeting.</li>
            <li> It shall consider any business brought forward by the General Council including
            the annual budget and audited statement of accounts.</li>
            <li>General Body shall have the right to expel any member of the Governing
            Council by means of a 2/3rd majority except the Founder Chairman.</li>
        </ol>
        <h4>Section B</h4>
        <p>Quorum note of Meetings and Periodicity of Meeting:</strong>
        <ol type="a">
            <li>Quorum shall consist at least 2/3rd of all the members as on the date of
            meeting.</li>
            <li>Meeting of General Body shall be held at the registered office or any other
            place deemed fit by the General Council.</li>
            <li>Meeting of General Body shall be held with a prior notice of at least 7 days.</li>
            <li>There shall be one Annual Meeting of the General Body called once in every year.</li>
        </ol>
        <h2>Article III</h2>
        <h3>General Council</h3>
        <h4>Section A</h4>
        <h5><strong>Definition</strong></h5>
        <p>The   set   of   members   elected   by   the   General   Body   to   hold   the   office   and   manage
        the day to day affairs of society shall be termed as General Council.</p>
        <h4>Section B</h4>
        <h5><strong>Composition</strong></h5>
        <p>The   General   Council   shall   consist   of   a   maximum   of   5   members   who   shall   be
        elected   by   the   General   Body   every   year.   The   composition   of   the   General   Council
        shall be as follows:</p>
        <ol type="a">
            <li><p>President -­01</p></li>
            <li><p>Vice President - 01</p></li>
            <li><p>Treasurer - 01</p></li>
            <li><p>Secretary - 01</p></li>
            <li><p>Joint-Secretary - 01</p></li>

        </ol>
        <h4>Section C</h4>
        <h5><strong>Election and its mode</strong></h5>
        <ol type="a">
            <li>Only Life Members and Founder Members can contest elections to become
            part of the General Council.</li>
            <li>The General Body shall elect the members of the General Council through
            secret ballot.</li>
        </ol>
        <h4>Section D</h4>
        <h5><strong>Power and duties function of General Council</strong></h5>
        <p>As a whole the General Council shall be responsible for implementation of the
        decision taken by the General Body and to execute the future programs of the
        society.
        In order to fulfil the aims and objective of the society the General Council as a
        whole is empowered to</p>
        <ol type="a">
            <li>Arrange finance if required from other institution banks or individually on
            reasonable terms and the General Council, as a whole is responsible for its
            return.</li>
            <li>To appoint ,engage ,terminate and fix the duties of staff.</li>
            <li>Note less than seven days notice shall be given for calling the General Council
            meeting and the quorum shall be one third.</li>
            <li>The term of the General Council will be for one year.</li>
        </ol>
        <h2>Article IV</h2>
        <h4>Section A</h4>
        <strong>President</strong>
        <ol type="a">
            <li>Shall be head of the society and shall preside over the meeting of General
            Body as well as the General Council.</li>
            <li>Shall be overall in charge of the affairs the society</li>
        </ol>
        <h4>Section B</h4>
        <strong>Vice President</strong>
        <ol type="a">
            <li>Vice President shall act as president in the long absence of the president</li>
        </ol>
        <h4>Section C</h4>
        <strong>Secretary</strong>
        <ol type="a">
            <li>Shall carry all official correspondence of Society.</li>
            <li>Keep all the records of membership, Society meetings, committee meetings
            and executive board meetings.</li>
            <li>Keep the roster of members of attendance of all meetings</li>
            <li>Shall send out notices of meetings to all the members of Society and shall
            conduct such other correspondence as may be requested by president or by
            Executive Board.</li>
            <li>Shall present report of activities of the Society to the Governing Council.</li>
            <li>Shall notify candidates of their election to membership and will distribute
            certificate of membership and copy of Bye Laws.</li>
        </ol>
        <h4>Section D</h4>
        <strong>Treasurer</strong>
        <ol type="a">
            <li>Shall handle all financial matters of the society in consultation with governing
            council.</li>
            <li>Shall be supported Society appointed auditor and other staff for secretarial
            help, stationary, postage and other miscellaneous expenditure.</li>
        </ol>
        <h2>Article V</h2>
        <h5><strong>Sources of income and utilization of funds</strong></h5>
        <p>The money received by the way of aid, admission fees and propertied donation
        and special contribution money from events or any other such means shall be
        treated as the sources of income of the society. The entire funds of the society
        shall be used for the propose of enhancing the aims and object of the society</p>
        <h2>Article VI</h2>
        <strong>Accounts</strong>
        <ol type="a">
            <li>Official year:­ The official year of the Society shall be from 1st April to 31st
            March every year.</li>
            <li>The assets and liabilities and the balance sheet of the Society shall be laid
            before the Annual General Body Meeting for confirmation.</li>
            <li>Such a balance sheet and the List of Committee Members shall be filed with
            the Registrar of Societies as per Sec. 13 of the K.S.R.Act. 1960.</li>
        </ol>
        <strong>Auditor</strong>
        <p>An auditor shall be appointed annually and the remuneration shall be fixed by the
        members in the Annual General Body meeting.</p>
        <p>The accounts shall be duly audited by a Chartered Accountant. Every year the
        Accounts shall be closed by 31st March every year.</p>
        <p>The funds of the Society shall be invested in the modes specified under the
        provisions of Sec.13(1)(d) r.w.s.11(5) of the Income Tax Act 1961 as amended
        from time to time.</p>
        <h2>Article VII</h2>
        <h5><strong>Operation of bank account</strong></h5>
        <p>The Society shall be entitled to open a current account in any one of the National
        Banks. The Society funds shall be drawn through cheques and/or bank drafts or
        through e­-banking mechanism as and when the same is introduced. The Bank
        account shall only be operated only by Secratery and Tresurer of the society
        jointly.</p>
        <h2>Article VIII</h2>
        <h5><strong>Special General Body Meeting</strong></h5>
        <p>A special General Body Meeting shall be conveyed as per Sec.11(3) of the
        K.S.R.Act 1960.</p>
        <h2>Article IX</h2>
        <h5><strong>Legal Proceeding</strong></h5>
        <p>The Society may sue or be sued in the name of Founder Chairman / President /
        Secretary as per previsions laid down under Section 15 of K.S.R.Act 1960.</p>
        <h2>Article X</h2>
        <h5>Ammendment</h5>
        <ol type="a">
            <li>Provided that no amendments to the memorandum of association, Rules and
            Regulations of the Society shall be made which may prove to be repugnant to the
            provisions of Sec.2 (15), 11, 12, 13 and 80G of the Income Tax Act 1961 asamended from time to time. Further any amendment carried out shall be forthwith
            reported to the commissioner of Income Tax.</li>
            <li>Alteration of amendment of the memorandum of association shall be made as
            per Sec.9 of the K.S.R.Act 1960.</li>
            <li>Change of Name, Rules and regulations shall be made as per Sec.10 of the
            K.S.R. Act 1960.</li>
            <li>If the dissolution of the Society arises Sec.22 and 23 of the K.S.R.Act 1960
            shall be followed.</li>
            <li>Regarding the amalgamation of the Society arises Sec.21 of the K.S.R.Act
            1960 shall be followed.</li>
        </ol>
        <h2>Article XI</h2>
        <h5><strong>Dissolution</strong></h5>
        <p>In the event of dissolution or winding up of the Society the assets remaining as
        on the date of dissolution shall under no circumstances be distributed among the
        members of the General Council but the same shall be transferred to another
        Charitable Society/Society whose objects are similar to those of this Society and
        which enjoys recognition u/s 80G of the Income tax Act 1961 as amended from
        time to time.</p>
        <h2>Article XII</h2>
        <h5><strong>Application of the ACT</strong></h5>
        <p>For matters which have not been specified provided for therein above, the
        provisions of the K.S.R.Act 1960 and the rules made there under shall apply.</p>
        <p>The working hours of the Society will be from:
        Morning : 10.00 A.M. to Evening : 7.00 P.M.</p>
	</div><!-- /.entry-content -->
    </div>
</section>
{% endblock %}
