{% extends 'base.html' %}

{% block head_title %}By laws - {{ block.super }}{% endblock %}

{% block header %}
<header class="header-big fill-blue center-wrapper text-center">
    <div class="absolute-center push-2">
        <div class="measure-block">
            <h1 class="yellow push-1q-bottom nospace-top">By laws</h1>
            <h2 class="white normal push-1q-bottom">India's premier conference on Python programming language</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="content">
    <div class="entry-content push-4-bottom push-2-top">
        <h2>Article 1</h2>
        <h3>Definitions</h3>
        <p>The Society shall frame Bye-Laws for its smooth functioning. In these Bye Laws, unless there is anything in the context repugnant thereto or inconsistent therewith:</p>
        <ol type="a">
            <li><strong>PSSI</strong> means Python Software Society of India.</li>
            <li><strong>Member</strong> means a member of the PSSI Society.</li>
            <li><strong>General Body</strong> shall consist of all the members of PSSI, who have voting rights.</li>
            <li><strong>General Council</strong> means the council duly elected by the General Body of the society.</li>
            <li><strong>President</strong> means a member who is duly elected by the General Body.</li>
            <li><strong>Register of Membership</strong> means a register maintained by the Secretary containing the names of all members of the society.</li>
            <li><strong>Act</strong> means Karnataka Societies Registration Act 1960 ((K.S.R. Act)) or any statutory modification or re­enactment for the time being in force.</li>
        </ol>
        <h3>Members</h3>
        <h4>Section A</h4>
        <ul>
            <li>
            <h5><strong>Founder Members</strong></h5>
                <p>Those who subscribe to the Memorandum of Association of the society at the time of its formation shall be known as Founder Members.</p>
            </li>
            <li>
            <h5><strong>Life Members</strong></h5>
                <p>Those who are eligible to admission under Section C and who pay the annual membership fees of Rs. 500/- (Rupees Five Hundred Only) shall be known as Life Members.</p>
            </li>
            <li>
                <h5><strong>Associate Members</strong></h5>
                <p>Associate Members are institutions that support the PSSI financially and by other means as authorised by PSSI. Associated Members will not have voting rights. They have the Pay an annual fees of Rs.20,000/- (Rs. Twenty thousand only) annually.</p>
            </li>
            <li>
                <h5><strong>Honorary Members</strong></h5>
                <p>The General Council may, at its discretion, offer Honorary Membership on Honorary Basis and to those who contribute in any respect to the Society's objectives.</p>
            </li>
        </ul>
        <h4>Section B</h4>
        <h5><strong>Admission and qualification for Life Membership and Associate Membership</strong></h5>
        <ol type="i">
            <li>
                <p>Any individual of Indian origin or of any other nationality will be eligible to
                become a Life Member of the society having paid requisite membership fees
                subject to the approval of the General Council.</p>
                <p>Any Company (incorporated in India or abroad), firm or any other organisation,
                and Societies/ trusts will be eligible to become a Associate Member of the
                society having paid requisite membership fees subject to the approval of the
                General Council.</p>
            </li>
            <li>
                <p>Potential Life member’s application should be signed by at least three founder members.</p>
            </li>
            <li>
                <p>Potential Associate member’s application should be signed by at least three founder members.</p>
            </li>
            <li>
                <p>If the applicant is an individual, his/her age should be more than 18 years.</p>
            </li>
        </ol>
	</div><!-- /.entry-content -->
    </div>
</section>
{% endblock %}
