{% extends 'base.html' %}

{% block head_title %}Financial Aid - {{ block.super }}{% endblock %}

{% block header %}
<header class="header-big fill-blue center-wrapper text-center">
    <div class="absolute-center push-2">
        <div class="measure-block">
            <h1 class="yellow push-1q-bottom nospace-top">Financial Aid</h1>
            <h2 class="white normal push-1q-bottom">Financial Aid to Support Indian Speaker travel</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="content">
	<div class="push-4-bottom push-1-top">
        <p>The PSSI has allocated a total budget of INR 1,20,000 per annum in order to support Indian speakers
        to deliver their presentations at international conferences.</p>
        <p>Following are the guidelines that PSSI will follow while chosing a candidate for granting him/her financial aid:</p>
        <ol>
            <li>Financial aid can be availed only once in a lifetime.</li>
            <li>His/Her talk should be selected for the conference they are planning to attend.</li>
            <li>It will be mostly on a first come first serve basis, but preference will be given to the people applying for the first time.</li>
            <li>Maximum financial aid that shall be given to a person will be INR 30,000.</li>
            <li>The amount will be deposited into the accepted candidate's account post conference.</li>
        </ol>
    </div>
</section>
{% endblock %}
