{% extends 'base.html' %}

{% block head_title %}Financial Aid - {{ block.super }}{% endblock %}

{% block header %}
<header class="header-big fill-blue center-wrapper text-center">
    <div class="absolute-center push-2">
        <div class="measure-block">
            <h1 class="yellow push-1q-bottom nospace-top">Financial Aid</h1>
            <h2 class="white normal push-1q-bottom">Financial Aid to Support Indian Speaker travel</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="content">
	<div class="push-4-bottom push-1-top">
        <p>To support Indian speaker travel abroad and deliver their talk we are planning to support.
        PSSI will support total combined budget limit of 1.2 Lakh INR for international trips per year.</p>
        <p>Below are guidelines</p>
        <ol>
            <li>Financial Aid can avail only once in lifetime.</li>
            <li>His/Her Talk should be selected.</li>
            <li>It will be mostly on First Come First Serve but preference will be given to the people applying for the first time.</li>
            <li>The supported amount per person with a maximum of Rs. 30,000.</li>
            <li>Amount will be in be deposited to person's bank account.</li>
        </ol>
    </div>
</section>
{% endblock %}
