{% extends 'base.html' %}

{% block header %}
<!-- Image Background Page Header -->
<header class="pssi-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">Python Software Society of India</h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section id="content" class="body">
  <div class="entry-content">
    <h2>What does <strong>"PSSI"</strong> stand for ?</h2>
<p>The name <strong>PSSI</strong> stands for the organization <strong>Python Software Society of India</strong>. It is a non-profit organization that manages annual <strong>PyCon India</strong> conference and also other activities to promote Python programming language in India.</p>
<h2>Can you tell me something about the history and background of <strong>PSSI</strong> ?</h2>
<p>PyCon India started in 2009 as a result of efforts by Noufal Ibrahim and a team of dedicated volunteers.
In order to create an umbrella society for managing funds for PyCon India, the late Kenneth Gonsalves
registered <strong>Indian Python Software Society (IPSS)</strong> in 2010 in Ooty, Tamilnadu.
After the sad demise of Kenneth in August 2012, there was nobody to manage the affairs of <strong>IPSS</strong> in Ooty.
In order to create an organization which could continue to be the centre of organizing affairs of PyCon
India and related efforts, it was decided in an SGM of IPSS to register a new organization for the same
in Bangalore, since most of the organizing members of PyCon India were based in Bangalore at that time.
Thus, PSSI was registered in Bangalore in 2013 as the new society for managing affairs related to PyCon India.</p>
<h2>How do I become a member of the PSSI ?</h2>
<p>In order to become a member of the PSSI you need to satisfy the following.</p>
<ul>
<li>You need to be an Indian citizen.</li>
<li>Pay a membership fee of INR 600/- to register yourself as a member for 2 years.</li>
</ul>
<h2>What are the benefits of being a PSSI member ?</h2>
<ol>
<li>Be able to attend the Annual General Meeting (AGM) every year and make your voice heard in
  making the society policies and in the conduct and organization of PyCon India conference.</li>
<li>Be able to stand for elections to the PSSI board and influence changes from a position
  of power.</li>
<li>Apart from these, PSSI provides a platform for exerting a very powerful influence on
  the use and adoption of Python programming language in academic &amp; industrial areas. Being
  part of PSSI allows you to make your voice heard and be a prominent part of this influence.</li>
</ol>
<h2>Is PSSI related to PSF (Python Software Foundation) in any way ?</h2>
<p>PSSI is not directly connected to PSF in any organizational or hierarchical manner. However PSSI can
be thought of as a counterpart of PSF globally in an Indian context. What PSF aims to do in terms
of providing a direction and being the single organisational body for the Python programming language
globally (and with a specific focus in the U.S.A), PSSI aims to do with a focus on India.</p>
<p>However it is to be noted that PSF has more at stake in the Python programming language than PSSI.
For example, the Intellectual Property, Copyright and Trademarks of Python Programming language
are vested in the PSF. PSSI has no such rights on Python. The primary focus of PSSI as of today is
the organization and conduct of PyCon India conference and associated events annually.</p>
<p>It is also worth mentioning that PSSI has received funds from PSF for conducting PyCon India in the past
and might receive such funds in the future as well. However PSF has no say in the governance and
conduct of the board members of PSSI.</p>
<h2>What are the board positions of PSSI ?</h2>
<p>The board positions of PSSI to which annual elections are held every year include,</p>
<ol>
<li>President.</li>
<li>Vice-President.</li>
<li>Secretary.</li>
<li>Treasurer.</li>
<li>Joint-Secretary</li>
</ol>
<h2>When is the AGM of PSSI held ?</h2>
<p>The AGM (Annual General Meeting) of PSSI is held every year on the last day of PyCon India conference
in the same venue. The last AGM was held on Sep 28, 2014 at NIMHANS Convention Centre, Bangalore.</p>
  </div><!-- /.entry-content -->
</section>
{% endblock %}
