{% extends 'base.html' %}

{% block head_title %}Mini-Conference - {{ block.super }}{% endblock %}

{% block header %}
<header class="header-big fill-blue center-wrapper text-center">
    <div class="absolute-center push-2">
        <div class="measure-block">
            <h1 class="yellow push-1q-bottom nospace-top">Mini-Conference Support Aid</h1>
            <h2 class="white normal push-1q-bottom">Financial & Institutional Support for Python Mini-Conferences in India</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="content">
	<div class="push-4-bottom push-1-top">
 	<p>Guidelines:<p>
 	<p>The Python Software Society of India(PSSI) welcomes proposals from any Python conference organisers from within India looking for financial/institutional support. This document provides specific guidance on the elements of a conference proposal, conference requirements, locations, and the application evaluation process.</p>

	<p><b>Conference Vision and Goals</b></p>
	<p>Python mini-conferences are an opportunity for the vast and diverse Python community to forge new relationships, catch up with old friends, learn from each other, and recharge the wellsprings of creativity and innovation that powers the Python community process. <p><br>
	<p>As you develop your conference proposal, please pay special attention to: </p>
	<ol>
		<li>Who your target audience are. They could be one or more of (Novice/ Beginners/ Intermediate/ Advanced).</i>
		<li>How you will you reach out to your target user segments (Students/ Professionals/ Enterprise Users, etc.) </li>
		<li>How you can strive to keep the conference costs low enough for students and self-employed consultants/programmers to attend.</li>
	</ol>
	<br>

	<p>Required elements of a Python mini-conference hosting proposal:<p>
	<ol>
		<li>Information about your proposed venue: capacity, rooms, multimedia facilities/support, etc.</li>
		<li>Plan for providing reliable wireless internet access for conference attendees.
		<li>Information about logistics, accommodation, transportation, etc in and around your proposed location.</li>
		<li>How you plan to structure the conference and design the agenda, and how you will engage the local Python community in the process of creating the conference.</li>
		<li>Conference marketing plan.</li>
		<li>A complete conference budget, including all costs and revenue.</li>
		<li>Be sure to consider and explain how you will manage cashflow; you will almost certainly need to put down money before sponsorship & registration fees come in.</li>
		<li>About the conference team.</li>
		<li>Key people who will lead your effort and staff the conference. Do you have enough people to do the grunt-work before and during the conference?</li>
		<li>Your team's history with and connection to the Python community, including past Python events you attended and have helped organize.</li>
		<li>Other past event organizing experience.</li>
		<li>Estimated cost per person for the conference - keep in mind that affordability is a key issue for many Python community members.</li>
	</ol>
	<br>
	<p>Please also consider the optional points given below:</p>
	<ol>
		<li>Avoid scheduling conference events during major religious or national holidays. For example, university exams, Diwali, Christmas and other major festivals (Dates may vary each year; check a calendar of religious holidays).
		</li>
		<li>Venue must be able to accommodate targeted number of people.</li>
		<li>Venue must have a plenary room capable of accommodating all attendees, plus breakout rooms for 2-3 tracks and informal gathering space.
		</li>
		<li>Reliable wireless access capable of accommodating all conference attendees simultaneously.</li>
		<li>Appropriate audio-visual support. (e.g. sound, projectors, etc.)</li>
		<li>Venue must be well connected to public transportation system.</li>
		<li>Snacks, coffee and lunch. (We serve breakfast as well at PyCon India)</li>
	</ol>

	<p>Application processing by PSSI</p>

	<p>The PSSI Board or its nominated selection committee bears ultimate responsibility for providing support to any application. We solicit PSSI member's input very heavily in making the decision, and we plan to continue that tradition via an online vote of the membership. The board will pre-qualify proposals to make sure they are complete and of high quality, and will present all qualified proposals to the members for voting.</p>

	<p>Nature of support provided by PSSI</p>
	<p>The PSSI will contribute either Institutional Support (inputs on preparations, running the event, speakers, etc.) or financial support or both depending on the quality of the proposals and community involvement. Under no circumstance shall the funding exceed more than 50% of the overall budget. The financial contribution will only be given for volunteer / community driven Python mini-conferences.</p>
	<p>For any queries or clarifications feel free to write to board@pssi.org.in</p>
</div>
</section>
{% endblock %}
