{% extends 'base.html' %}

{% block head_title %}PyCon India - {{ block.super }}{% endblock %}

{% block header %}
<header class="header-big fill-blue center-wrapper text-center">
    <div class="absolute-center push-2">
        <div class="measure-block">
            <h1 class="yellow push-1q-bottom nospace-top">PyCon India</h1>
            <h2 class="white normal push-1q-bottom">India's premier conference on Python programming language</h2>
            <p class="push-1-top"><a target="_blank" href="http://in.pycon.org/" class="btn btn-primary">Pycon website</a></p>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="content">
	<div class="entry-content push-4-bottom push-2-top">
		<p class="push-1-top">PyCon India, the premier conference in India on using and developing the Python programming language, is conducted annually by the Python developer community. It attracts the best Python programmers from across the country and abroad.</p>
		<h3 class="push-1-top">Conference Host City</h3>
		<p>There was an original policy of trying to conduct PyCon India every year in a different city. We had conducted
		PyCon India 2011 in the city of Pune as well. However, PyCon India 2012 which was planned to be done in Pune
		had to be shifted to Bangalore due to lack of support in the organizational infrastructure on the ground.</p>
		<p>For a city to host PyCon India, it should have a well developed local Python user group and also some local
		leadership with some experience in conducting and running conferences - in a small or medium-large scale. Since
		it was perceived that it would take some time for some of the other cities to catch up to Bangalore in terms
		of this kind of support and leadership talent, the original policy of trying to conduct PyCon India every year
		in a different city has been put on suspension after the experience of 2012.</p>
		<p>PSSI has been organizing <strong>Python Month</strong> and also helping to organize some mini conferences in other cities
		since then. In the future, if it is perceived that some other cities are capable to organize PyCon India with
		sufficient grass root organizational culture and leadership, the conference could be moved out of Bangalore.
		Even then a rotational policy would emerge at best, rotating the conference among a few candidate cities
		including Bangalore.</p>
		<p>As of writing this guideline, the default host city of the conference is <strong>Bangalore</strong> and we don't perceive this
		to change unless other candidate cities emerge in the future. The question of conference host city is at this point
		an irrelevant one as it defaults to Bangalore.</p>
		<h3 class="push-1-top">Conference Venue (Actual Physical Location)</h3>
		<p>The conference should be conducted in a location that is ideally,</p>
		<p>Primarily,</p>
		<ol>
			<li>Reasonably central in the host city.</li>
			<li>Well accessible by Road, Rail and Air.</li>
			<li>Has a clutch of good hotels and restaurants nearby.</li>
			<li>At least 2 large halls with possibly a central Hall (for Keynotes).</li>
		</ol>
		<p>Secondarily,</p>
		<ol>
			<li>Halls are ideally situated on the ground floor so that
			attendees don't need elaborate directions to reach them.</li>
			<li>Good A/V or possiblity/space for arranging good A/V.</li>
			<li>Good projector infrastructure.</li>
			<li>Reasonable Acoustics in Halls and Rooms.</li>
		</ol>
		<p>A good example of a venue that satisfies most of this criteria is <strong>NIMHANS Convention Centre, Bangalore</strong> .</p>
		<h3 class="push-1-top">Conference Format</h3>
		<p>We have been following a format of 3 days of conference with the 1st day for Workshops followed by 2 days of talks since PyCon India 2012. This format is unchanged as of the upcoming PyCon India (2015) as well.</p>
		<p>There have been discussions of adding days for Coding and development sprints on Python or Python projects. So far
		these have not been attempted yet. It is expected that in the future the conference retains the current format
		with possibly more days added for other activities including but not limited to coding sprints.</p>
		<h3 class="push-1-top">Mailing Lists</h3>
		<p>The public mailing list for PyCon India is <strong><a href="mailto:inpycon@python.org">inpycon@python.org</a></strong>. All open discussions and public matters would be conducted in this mailing list.</p>
		<p>There is a private mailing list for the conference organizers which is <strong><a href="mailto:contact@in.pycon.org">contact@in.pycon.org</a></strong>. Matters which are perceived to be discussed in a more private space would be sent to this address.</p>
	</div><!-- /.entry-content -->
</section>
{% endblock %}
