{% extends 'base.html' %}

{% block head_title %}Python Month - {{ block.super }}{% endblock %}

{% block header %}
<header class="header-big fill-blue center-wrapper text-center">
    <div class="absolute-center push-2">
        <div class="measure-block">
            <h1 class="yellow push-1q-bottom nospace-top">Python Month Workshop Aid</h1>
            <h2 class="white normal push-1q-bottom">Python workshop reimbursement Policy</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="content">
	<div class="push-4-bottom push-1-top">
        <p>The PSSI has allocated a total budget of INR 1,00,000 per annum in order to support  tutors conducting workshop across India in different colleges</p>
        <p>PSSI will cover transportation/Food cost of the Tutor conducting workshop. </p>
        <p>This guidelines will be effective in case college doesn’t provide facilities.</p>

        Transportation:<br>
        <ol>
            <li> Local
                <ol>
                    <li>For taxi/cab hired the cost covered for one way is INR 600. </li>
                    <li>For own vehicle the cost covered is INR 500 as total fuel cost. </li>
                </ol>
            </li>
            <li>Out Station
                <ol>
                    <li>Upto INR 3000 is covered for round trip in train - 3 Tier AC.</li>
                </ol>
            </li>
            <li>Tutor must share receipt/bill with PSSI to reimburse the amount. </li>
            <li>In case of Multiple tutors in a college on the same day all tutor need to plan for cab/taxi pooling and upto INR 1000 can be reimbursed one way. </li>
      
            <li>
                Support Volunteer
                <ol>
                    <li>All volunteers can plan for cab/taxi pooling and INR 1000 can be reimbursed one way. </li>
                </ol>
            </li>
        </ol>

        Food:<br>
         <ol>
            <li>
                We will be reimbursing upto INR 200.
            </li>
        </ol>

        

    </div>
</section>
{% endblock %}
