{% extends 'base.html' %}

{% block head_title %}PyCon India - {{ block.super }}{% endblock %}

{% block header %}
<header class="header-big fill-blue center-wrapper text-center">
    <div class="absolute-center push-2">
        <div class="measure-block">
            <h1 class="yellow push-1q-bottom nospace-top">Local User Groups</h1>
            <h2 class="white normal push-1q-bottom">Different Python User Groups in India</h2>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<section class="content">
    <div class="push-4-bottom">
        <ol>
            <li>
                <h4>BangPypers (Bangalore Python Users Group)</h4>
                <p><a href="http://bangalore.python.org.in/" target="_blank">Website</a>, <a href="http://www.meetup.com/BangPypers/" target="_blank">Meetup</a>, <a href="https://twitter.com/__bangpypers__" target="_blank">Twitter</a>, <a href="https://www.facebook.com/bangpypers" target="_blank">Facebook</a>, <a href="https://mail.python.org/mailman/listinfo/bangpypers" target="_blank">Mailing list</a></p>
            </li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
</section>
{% endblock %}
