{% extends 'base.html' %}

{% block head_title %}PyCon India - {{ block.super }}{% endblock %}

{% block header %}
<header class="header-big fill-blue center-wrapper text-center">
    <div class="absolute-center push-2">
        <div class="measure-block">
            <h1 class="yellow push-1q-bottom nospace-top">Local User Groups</h1>
            <h2 class="white normal push-1q-bottom">Different Python User Groups in India</h2>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<section class="content">
    <div class="push-4-bottom">
        <ol>
            <li>
                <h4>BangPypers (Bangalore Python Users Group)</h4>
                <p><a href="http://bangalore.python.org.in/" target="_blank">Website</a>, <a href="http://www.meetup.com/BangPypers/" target="_blank">Meetup</a>, <a href="https://twitter.com/__bangpypers__" target="_blank">Twitter</a>, <a href="https://www.facebook.com/bangpypers" target="_blank">Facebook</a>, <a href="https://mail.python.org/mailman/listinfo/bangpypers" target="_blank">Mailing list</a></p>
            </li>
            <li>
                <h4>ChennaiPy (Chennai Python Users Group)</h4>
                <p><a href="http://chennaipy.org/" target="_blank">Website</a>, <a href="http://www.meetup.com/Chennaipy/" target="_blank">Meetup</a>, <a href="https://twitter.com/chennaipy" target="_blank">Twitter</a>, <a href="https://mail.python.org/mailman/listinfo/chennaipy" target="_blank">Mailing list</a></p>
            </li>
            <li>
                <h4>KolPy (Kolkata Python Users Group)</h4>
                <p><a href="https://mail.python.org/mailman/listinfo/kolpy" target="_blank">Mailing list</a></p>
            </li>
            <li>
                <h4>DPUG (DehraDun Python Users Group)</h4>
                <p><a href="http://www.dehradunpython.com/" target="_blank">Website</a>, <a href="https://twitter.com/Dehradun_Python" target="_blank">Twitter</a>, <a href="https://www.facebook.com/dehradun.python" target="_blank">Facebook</a>, <a href="https://mail.python.org/mailman/listinfo/dehradun-python" target="_blank">Mailing list</a></p>
            </li>
            <li>
                <h4>PyGuj (Gujarat Python Users Group)</h4>
                <p><a href="https://twitter.com/pyguj" target="_blank">Twitter</a>, <a href="https://www.facebook.com/PyGuj" target="_blank">Facebook</a></p>
            </li>
            <li>
                <h4>KPUG (Kerala Python Users Group)</h4>
                <p><a href="http://kpug.zwiki.org/FrontPage" target="_blank">Website</a></p>
            </li>
            <li>
                <h4>Kochi Python Users Group</h4>
                <p><a href="https://kochi.python.org.in/" target="_blank">Website</a>, <a href="http://www.meetup.com/KochiPython/" target="_blank">Meetup</a>, <a href="https://www.facebook.com/groups/kochi.python/" target="_blank">Facebook</a></p>
            </li>
            <li>
                <h4>Ncr-Python.in (Ncr Python Users Group)</h4>
                <p><a href="https://www.facebook.com/groups/ncrpython/" target="_blank">Facebook</a>, <a href="https://mail.python.org/mailman/listinfo/ncr-python.in" target="_blank">Mailing list</a></p>
            </li>
            <li>
                <h4>MumPy (Mumbai Python Users Group)</h4>
                <p><a href="http://www.mumpy.org/" target="_blank">Website</a></p>
            </li>
            <li>
                <h4>Pune Python Users Group</h4>
                <p><a href="http://pune.python.org.in/" target="_blank">Website</a>, <a href="www.meetup.com/PythonPune/" target="_blank">Meetup</a>, <a href="https://www.facebook.com/pages/Pune-Python-Users-Group/217757114902836" target="_blank">Facebook</a></p>
            </li>
            <li>
                <h4>IITD Lug (IIT Delhi Lug)</h4>
                <p><a href="http://www.lug-iitd.org/" target="_blank">Website</a>, <a href="https://twitter.com/lugiitd" target="_blank">Twitter</a>, <a href="https://www.facebook.com/pages/LUGIITD/111975198837339" target="_blank">Facebook</a></p>
            </li>
            <li>
                <h4>Hyderabad Python Users Group</h4>
                <p><a href="http://www.meetup.com/Hyderabad-Python-Meetup-Group/" target="_blank">Meetup</a></p>
            </li>
            <li>
                <h4>Python Developers Baroda</h4>
                <p><a href="https://www.facebook.com/baroda.python" target="_blank">Facebook</a></p>
            </li>
            <li>
                <h4>PyladiesBangalore</h4>
                <p><a href="http://www.meetup.com/PyladiesBangalore/" target="_blank">Meetup</a>, <a href="https://twitter.com/pyladiesblore" target="_blank">Twitter</a>, <a href="https://www.facebook.com/groups/pyladiesblr/" target="_blank">Facebook</a>, <a href="https://mail.python.org/mailman/listinfo/pyladies-blr" target="_blank">Mailing list</a></p>
            </li>
			<li>
                <h4>Django Users Group</h4>
                <p><a href="http://www.meetup.com/Bangalore-Django-User-Group/" target="_blank">Meetup</a>, <a href="https://mail.python.org/mailman/listinfo/django-india" target="_blank">Mailing list</a></p>
            </li>
        </ol>
    </div>
</section>
{% endblock %}
