{% extends 'base.html' %}
{% load bootstrap3 %}
{% load markdown_tags %}

{% block head_title %}Nomination for {{ntype.name}} Award - {{ block.super }}{% endblock %}

{% block endhead %}
<style>
  .required > label:after {
    content: "*";
  }
</style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 push-3">
        <div class="form-container space-2-bottom">
            <h2 class="fill-blue text-center">Nomination for {{ ntype.name }} </h2>
            <div class="pad-2 push-half-top push-2-bottom">

              {{ gtype.terms|markdown2html|safe }}
              <hr>

              <form class="apply_grants" method="POST" action=".">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endbuttons %}
              </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}
